[Unit]
Description=DDRP Network Daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/ddrpd --home /etc/ddrpd start
User=ddrp

SyslogIdentifier=ddrpd
PrivateTmp=yes
ProtectHome=yes
NoNewPrivileges=yes

[Install]
WantedBy=multi-user.target